body {
	min-height: 100vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
	margin: 0;
	background-color: #e5f1e9;
	color: white;
	font-family: sans-serif;
}

mainContainer {
	width: 400px;
	height: 300px;
	background-color: #1c2430;
	border: 8px solid white;
	border-radius:25px;
	padding:40px 50px;
	text-align: center;
}

h1 {
	color:white;
}

.h1Color {
	color:#4cd97e;
}

input{
	text-align: center;
}

button {
	border-radius: 3px;
    border: 0;
	background-color: #15b077;
	color:white;
	margin: 25px 0;
	padding: 10px 15px;
    font-weight:bold;
}

button:hover {
	transform: translate(-5px, -2px);
	box-shadow: 10px 10px 30px rgba(250, 250, 250, 0.15);
	background-color: #0d8d5e;
}

.areaDivision{
	border: 1px solid #272f3b;
}

/*pswdWrapper {
    display: flex;
    justify-content: space-around;
	margin: 25px 0;
}*/

.pswdArea {
	width: 50%;
	min-height: 20px;
	background-color: #232e42;
	color:whitesmoke;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px 0px;
	text-align: center;
}